<div data-ng-controller="AdminUserController">
    <table  st-table="displayed" class="table table-striped"  >
        <thead>
        <tr>
            <th st-ratio="20" st-sort="firstName">first name</th>
            <th st-ratio="20" st-sort="lastName">last name</th>
            <th st-ratio="10" st-sort="age">age</th>
            <th st-ratio="30" st-sort="email">email</th>
            <th st-ratio="20" st-sort="balance">balance</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayed">
            <td st-ratio="20">{{row.firstName}}</td>
            <td st-ratio="20">{{row.lastName | uppercase}}</td>
            <td st-ratio="10">{{row.age}}</td>
            <td st-ratio="30">{{row.email}}</td>
            <td st-ratio="20">{{row.balance | currency}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-items-by-page="10" st-pagination="" ></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
