<div data-ng-controller="AdminUserController">
  <table st-table="users" class="table table-striped">
      <thead>
      <tr style="font-weight: bold">
        <td st-sort="user.name" style="width:35%">Name</td>
        <td st-sort="user.status" style="width:20%">Status</td>
        <td st-sort="user.group" style="width:20%">Group</td>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
          {{ user.name || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
          {{ showStatus(user) }}
        </span>
      </td>
      <td>
        <!-- editable group (select-remote) -->
        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(user) }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" class="text-right">
        <div st-items-by-page="10" st-pagination="" ></div>
      </td>
    </tr>
    </tfoot>
  </table>
    <!--<table  st-table="displayed" class="table table-striped"  >-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th st-ratio="20" st-sort="firstName">first name</th>-->
            <!--<th st-ratio="20" st-sort="lastName">last name</th>-->
            <!--<th st-ratio="10" st-sort="age">age</th>-->
            <!--<th st-ratio="30" st-sort="email">email</th>-->
            <!--<th st-ratio="20" st-sort="balance">balance</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="row in displayed">-->
            <!--<td st-ratio="20">{{row.firstName}}</td>-->
            <!--<td st-ratio="20">{{row.lastName | uppercase}}</td>-->
            <!--<td st-ratio="10">{{row.age}}</td>-->
            <!--<td st-ratio="30">{{row.email}}</td>-->
            <!--<td st-ratio="20">{{row.balance | currency}}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--<tfoot>-->
        <!--<tr>-->
            <!--<td colspan="5" class="text-right">-->
                <!--<div st-items-by-page="10" st-pagination="" ></div>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    <!--</table>-->
</div>
