<div data-ng-controller="AdminAccountController" ng-init=getAccountList_admin()>
  <!--<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>-->
  <!--<button type="button" class="btn btn-default btn-lg" ng-click="openAside('left', true)">-->
    <!--<span class="glyphicon glyphicon-align-justify"></span> Left-->
  <!--</button>-->
    <table  object-table
            data = "accounts"
            display = "5"
            headers = "Name, Email, Status,CreateDate, Option"
            fields = "name, email, status"
            sorting = "compound"
            resize="true"
            editable = 'false'
            drag-columns="true">
        <tbody>
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td><span class="label label-table label-success">{{item.status}}</span></td>
                <td>{{item.createDate}}</td>
                <td>
                    <a href="#" class="on-default edit-row" ng-click="setSelected(item);$owner.openAside('left', true,item)">
                        <i class="fa fa-pencil"></i>
                    </a>
                  <!-- 暂时不进行删除操作
                    <a href="#" class="on-default remove-row">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    -->
                </td>
            </tr>
            </tbody>
        <tfoot>
            <tr>
                <td>Total Account:{{$filtered.length}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        </table>


    </table>

</div>
