<div>
<form role="form" action="#">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text"  class="form-control" ng-model=item.name /></div>
      <div class="form-group">
        <label class="control-label" >Email</label>
        <input type="text"  class="form-control" ng-model=item.email /> </div>
      <div class="form-group">
        <label class="control-label">Mobile Number</label>
        <input type="text" class="form-control"   ng-model =item.phone /> </div>
      <div class="margiv-top-10">
        <a href="#" class="btn btn-circle green-haze" ng-click="ok($event)"> Save   </a>
        <a href="#" class="btn btn-circle red-haze" ng-click="cancel($event)"> Cancel </a>
      </div>
    </form>
</div>
