<div>
<form role="form" action="#">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text"  class="form-control" ng-model=master.name /></div>
      <div class="form-group">
        <label class="control-label" >Email</label>
        <input type="text"  class="form-control" ng-model=master.email /> </div>
      <div class="form-group">
        <label class="control-label">Mobile Number</label>
        <input type="text" class="form-control"   ng-model =master.phone /> </div>
      <div class="margiv-top-10">
        <a href="#" class="btn btn-circle green-haze" ng-click="updateAccount_admin();ok($event)"> Save</a>
        <a href="#" class="btn btn-circle red-haze" ng-click="cancel($event)"> Cancel </a>
      </div>
    </form>
</div>
<!--<div class="custombox-modal custombox-modal-fadein" style="transition-duration: 500ms; z-index: 10003;"><div id="custom-modal" class="modal-demo" style="display: block; width: auto;">-->
  <!--<button type="button" class="close" onclick="Custombox.close();">-->
    <!--<span>×</span><span class="sr-only">Close</span>-->
  <!--</button>-->
  <!--<h4 class="custom-modal-title">Add Customer</h4>-->
  <!--<div class="custom-modal-text text-left">-->
    <!--<form role="form">-->
      <!--<div class="form-group">-->
        <!--<label for="name">Name</label>-->
        <!--<input type="text" class="form-control" id="name" placeholder="Enter name">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="position">Contact number</label>-->
        <!--<input type="text" class="form-control" id="position" placeholder="Enter number">-->
      <!--</div>-->


      <!--<button type="submit" class="btn btn-default waves-effect waves-light">Save</button>-->
      <!--<button type="button" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</div></div>-->
